.carousel-element{
    display: flex;
    justify-content: center;
}

.anime-carousel-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.anime-carousel-container img{
    width: 12vw;
    height: auto;
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;
}

.anime-carousel-container:hover img {
    filter: brightness(70%);
}