.home-div{
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("../../images/ahegao-bg-patern.jpg");
    background-size: 400px 400px;
}
.home-carousel{
    margin: 15px;
    text-align: center;
}

.carousel-title{
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}