.serched-element {
    background-color: white;
    display: flex;
    padding: 7px;
    cursor: pointer;
  }
  
.serched-element:hover {
    background-color: #e0e0e0;
}

.main-form{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20vw;
    z-index: 1;
}

